logging:
  level:
    io.zenwave360.example: DEBUG
    org.apache.kafka.clients.admin: WARN

springdoc.swagger-ui.urls:
  - name: ZenWave SDK - Mongodb BaseLine
    url: /apis/openapi.yml

management:
  endpoints.web.exposure.include: "*"

spring:
  security:
    user:
      name: admin
      password: password
      roles: USER
  data:
    mongodb:
      uri: ${MONGODB_URI}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  cloud:
    stream:
      kafka.binder.enable-observation: true
      function:
        definition: on-customer-event;
      bindings:
        on-customer-event-out:
          destination: customer.events
